.hero {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.hero > h2 {
  margin-top: 0px;
  animation: slide-right 1s ease-out forwards;
}


/* Image with Text Section */
.image-text-section img#home-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  z-index: 1; /* Ensure it is on top */

  /* Add a box shadow to the image */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

  animation: slide-right 1s ease-out forwards;
  animation-delay: 0.5s;
  opacity: 0; /* Ensure elements are initially hidden */
}

.hero-text-content {
  animation: slide-right 1s ease-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
}


/* Web Description Section */
.description-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1.5em;

  p {
    margin: 0;
    animation: slide-down 1s ease-out forwards;
    animation-delay: 0.5s;
    opacity: 0;
  }
}
