.home-contents {
  display: flex;
  flex-direction: column;
  padding: 0em 2em 1em 2em;
  gap: 3em;
}

@media (max-width: 800px) {
  .home-contents {
    padding: 0em 1em 1em 1em;
  }
}

.home-contents h1 {
  font-size: 3em;
}

.see-more {
  align-self: flex-end;
  color: #aaaaaa;

  animation: slide-right 1s ease-out forwards;
  animation-delay: 1.4s;
  opacity: 0;
}
.see-more:hover {
  color: white;
}
