.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 55px;
  /* padding: 10px 0px; */
  /* position: sticky;
  top: 0;
  background-color: inherit;
  z-index: 1000; */
}

.navbar a.selected {
  color: white;
  padding: 10px 15px;
}

.navbar a.unselected {
  color: #aaaaaa;
  padding: 10px 15px;
}

.navbar a.unselected:hover {
  color: white;
}
