.home-projects {
  display: flex;
  flex-direction: column;
}

.home-projects > h1 {
  margin-bottom: 0px;
}

.home-projects > a {
  align-self: flex-end;
}

.home-projects > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1; /* Allow this div to grow and take available space */
}

.home-projects-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0em; /* Adds some spacing between the items */
  width: 100%; /* Ensures the container takes full width */
}

.mini-project {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Enable absolute positioning of children */
  
  /* width: 250px; */
  width: calc(33.333% - 3.2em); /* Ensures 3 projects per row, adjusts for spacing */
  height: 250px;
  padding: 1em;
  margin: 0.5em;
  border-radius: 1em;
  border: 1px solid hsl(240, 6%, 20%);
  background-color: rgb(46, 47, 51, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  text-align: left;
  transition: background-color 300ms;
  
  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  h2 {
    margin: 0;
  }

  img {
    max-width: 230px;
    object-fit: contain;
  }
}

.mini-project:hover {
  background-color: #333;
  border: 1px solid #646cff;
}

.mini-project-content h2,
.mini-project-content div {
  position: absolute; /* Position relative to the .project container */
  color: white; /* Ensure text is readable */
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); /* Add contrast for readability */
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 1rem; /* Add padding to text */
  left: 0rem;
}

.mini-project-content h2 {
  top: 0.5rem; /* Place at the top */
  border-radius: 0.5rem;
  /* padding: 0.5rem 1rem; */
}

.mini-project-content div {
  bottom: 0.5rem; /* Place at the bottom */
  border-radius: 0.5rem;
  width: calc(100% - 2rem); /* Full width minus padding */
  /* padding: 0.5rem 1rem; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.mini-project-technologies img, .mini-project-technologies svg {
  max-width: 20px;
  margin-left: 0.5rem;
}

@media (max-width: 900px) {
  .mini-project {
    width: calc(50% - 3.2em); /* 2 projects per row on smaller screens */
  }
}

@media (max-width: 600px) {
  .mini-project {
    width: calc(100% - 3em); /* 1 project per row on very small screens */
  }
}

#oktopus-api {
  max-width: 200px;
  width: 250px;
  height: 250px;
}

#vhdl_to_java {
  max-width: 300px;
  width: 170px;
  height: 170px;
}
