/* Image with Text Section */
.image-text-section {
  display: flex;
  align-items: flex-start;
}

.image-text-section img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}

.image-text-section h2 {
  /* font-size: 2rem; */
  margin-bottom: 0px;
  transform: translateY(-10px)
}

.image-text-section p {
  font-size: 1.2rem;
  margin-top: 0px;
  color: #555;
  transform: translateY(-10px)
}
