.blog-page {
  display: flex;
  padding: 0em 1.5em 1em 1.5em;
  span {
    color: #aaaaaa;
  }
}

.blog-post-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* margin-left: 20px;
  margin-bottom: 1em; */

  padding: 0em 1.5em 1em 1.5em;
  
  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  span {
    margin-top: 0.5em;
    margin-bottom: 18.496px;
    color: #aaaaaa;
  }
}