.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px 55px 20px;
}

.navbar a.selected {
  color: white;
  padding: 10px 15px;
}

.navbar a.unselected {
  color: #aaaaaa;
  padding: 10px 15px;
}

.navbar a.unselected:hover {
  color: white;
}
