.projects {
  display: flex;
  flex-direction: column;
}

.projects > h1 {
  margin: 0;
}

.projects-display {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  justify-content: center; /* Centers the items */
  gap: 1rem; /* Adds space between items */
  max-width: 64rem; /* Maximum width of the container */
  margin: 0 auto; /* Centers the section */
  padding: 1rem 0rem;
}

.project {
  flex: 1 1 calc(50% - 1rem); /* Take 50% width minus the gap */
  max-width: calc(50% - 1rem); /* Ensure max width aligns with flex */
  height: 360px; /* Fixed height for each project */
  border-radius: 1rem;
  border: 1px solid hsl(240, 6%, 20%);
  background-color: rgb(46, 47, 51, 0.9);
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Enable absolute positioning of children */
}

.project img {
  max-width: 300px;
  object-fit: contain;
}

.project:hover {
  background-color: #333;
  border: 1px solid #646cff;
}

.project#soon:hover {
  border: 1px solid hsl(240, 6%, 20%);
  background-color: rgb(46, 47, 51, 0.9);
}

.project-content > h2,
.project-content > div {
  position: absolute; /* Position relative to the .project container */
  color: white; /* Ensure text is readable */
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); /* Add contrast for readability */
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 1rem; /* Add padding to text */
  left: 0rem;
}

.project-content > h2 {
  top: 0.5rem; /* Place at the top */
  border-radius: 0.5rem;
  /* padding: 0.5rem 1rem; */
}

.project-content > p {
  position: absolute;
  top: 2.2em;
  left: 1em;
}

.project-content > img {
  position: absolute;
  /* Set image to the middle */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.project-content > img#oktopus-api {
  transform: translate(-50%, -45%);
}

.project-content div {
  bottom: 0.5rem; /* Place at the bottom */
  border-radius: 0.5rem;
  width: calc(100% - 2rem); /* Full width minus padding */
  /* padding: 0.5rem 1rem; */
  display: flex;
  justify-content: flex-end;
}

.project-technologies img, .project-technologies svg {
  max-width: 20px;
  margin-left: 0.5rem;
}

#express{
  fill: white;
}

/* Responsive adjustment */
@media (max-width: 768px) {
  .project {
    flex: 1 1 100%; /* Take full width on small screens */
    max-width: 100%;
  }
}

#vhdl_to_java_big {
  max-width: 250px;
}

.project.disabled {
  pointer-events: none;
  opacity: 0.7;
}
