.project-page {
  display: flex;
  padding: 0em 1.5em;

  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.project-page-left-navbar,
.project-page-right-navbar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 95.59px;
  
  div {
    display: flex;
    flex-direction: column;

    margin-top: 20px;
  }

  a {
    margin-top: 10px;
    color: #aaaaaa;
    position:sticky;
  }
  a:hover {
    color: white;
    cursor: pointer;
  }
}

.project-page-content {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 20px;

  img {
    max-width: 200px;
    height: auto;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 0px;
  }

  ul {
    padding-left: 20px;
  }
}

.project-page-content > img#vhdl_to_java_big {
  max-width: 300px;
}

.project-page-content > img#shape-editing-web-app {
  max-width: 450px;
}

.feature {
  margin: 5px;
}

.technologies {
  display: flex;
  
  span {
    margin-right: 10px;
  }
}

.project-page-right-navbar {
  margin-left: auto;

  a {
    margin-top: 0px;
    font-size: 1.5em;
    color: #aaaaaa;
  }
}

@media (max-width: 768px) {
  .project-page-left-navbar,
  .project-page-right-navbar {
    display: none;
  }
}
